
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header bg-dark text-white">
            <h4 class="modal-title">Add time</h4>
            <button type="button" class="close text-white" data-dismiss="modal">&times;</button>
        </div>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form id="form" action="#" th:action="@{/web/time/{id}/update(id=${time.id})}" th:object="${time}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="timeStart" class="col-form-label">Time Start</label> <input type="datetime-local" th:field="*{timeStart}" class="form-control" id="timeStart2" placeholder="Time Start"> <span th:if="${#fields.hasErrors('timeStart')}" th:errors="*{timeStart}" class="text-danger">aaaa</span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="timeEnd" class="col-form-label">Last Name</label> <input type="datetime-local" th:field="*{timeEnd}" class="form-control" id="timeEnd2" placeholder="Last Name"> <span th:if="${#fields.hasErrors('timeEnd')}" th:errors="*{timeEnd}" class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="timeEnd" class="col-form-label">Last Name</label> <textarea class="form-control" id="message-text2" th:field="*{note}"></textarea>
                            </div>

                            <div class="form-group col-md-8">
                                <input type="submit" class="btn btn-dark" value="Update time">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>